* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-status {
  display: flex;
}

.app-left {
  flex: 0.9;
}

/* responsive for mobaile view */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .info-status {
    flex-direction: column;
    text-align: center;
  }
}
